*.o
*.out
*.DS_Store
*.swp
include/*.swp
src/*.swp
client/*.swp
tests/*.swp
temp/*.swp
gcslib
test
build/*.o
_debug/.DS_Store
_debug/.DS_Store
gcslib.dSYM/Contents/Info.plist
gcslib.dSYM/Contents/Resources/DWARF/gcslib
src/.DS_Store
include/.DS_Store
_debug/_future/.DS_Store
_debug/_future/.DS_Store
_debug/_future/.DS_Store
_debug/_future/.DS_Store
_debug/_future/.DS_Store
